<section class="form-group mb-2">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control" required>
</section>

<section class="form-group mb-4">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" required>
</section>