

<div class="container-form-sm"> 
    <% if(messages){ %>
        <p class="text-danger">
            <%= messages.error %>
        </p>
        <% } %>
        
    <form action="/auth/login" method="POST">
            <%- include('_form_fields.ejs') %>
            <button class="btn btn-primary">Log In</button>
    </form>

    <div class="text-secondary mt-4">
        <hr>
    </div>

    <div class="mt-4">
        <a href="/auth/google">Sign In With Google</a>
    </div>

</div>