

<div class="container-form-sm">
    <% if(errorMessage){ %>
        <p class="text-danger"><%= errorMessage %></p>
    <% } %>
    
    <form action="/signup" method="POST"> 
    
        <section class="form-group mb-2">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </section>

        <%- include('_form_fields.ejs') %>

        <button class="btn btn-primary">Sign Up</button>
    </form>

    <div class="text-secondary mt-4">
        <hr>
    </div>

    <div class="card mt-4">
        <div class="card-body text-center">
          <a class="d-flex gap-3 justify-content-center btn btn-block" href="/auth/google" role="button">
            <figure>
                <img width="24" height="24" src="/images/google-icon.png" alt="Google Icon">
            </figure>
            <span class="h5">Sign Up with Google</span>
          </a>
        </div>
      </div>
    </div>

</div>
