<header class="primary-header bg-secondary mb-5">
    <p class="logo">BLOG</p>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login" class="btn btn-dark">Login</a></li>
            <li><a href="/signup" class="btn btn-warning text-dark">Sign Up</a></li>
        </ul>
    </nav>
</header>