<header class="primary-header bg-secondary mb-5">
    <p class="logo">BLOG</p>
    <nav class="primary-navigation">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/articles/new">New Article</a></li>
            <li><a href="/articles">My Articles</a></li>
            <li>
                <form action="/logout" method="POST">
                    <button class="btn btn-danger">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>