
<section class="form-group mb-4">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" value="<%= article.title %>">
</section>

<section class="form-group mb-4">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description"><%= article.description %></textarea>
</section>

<section class="form-group mb-4">
    <label for="markdown">Markdown</label>
    <textarea class="form-control" name="markdown" id="markdown" rows="10"><%= article.markdown %></textarea>
</section>