<h1>New Article</h1>

<form action="/articles" method="POST" class="mt-5">  
    <%- include('_form_fields.ejs') %>

        <div class="mt-4">
            <a href="/" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-primary">Save</button>
        </div>

</form>